* {
	box-sizing: border-box;
}

html {
	 font-size: 62.5%; 
 }
 

 body {
 	padding: 0;
 	font-family: 'Open Sans', sans-serif;
 }
 
/*   NAVIGATION BAR   */
 
 section .name-top {
	 display: flex;
	 justify-content: center;
	 padding-top: 2rem;
 }
 
 .name-top  h1 {
   font-family: 'Monsieur La Doulaise', cursive;
   font-size: 4rem;
 }
 
 header  .navbar-sticky {
	z-index: 100;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	background: #fff;
 }

 .navbar-sticky a {
 	text-decoration: none;
	padding: 2rem;
	font-size: 1.5rem;
	color: black;
	font-weight: bold;

 }
 
/*    NAVIGATION BAR HOVER.  */
 
 .navbar-sticky a:hover{
	 color: #6fbbd3;
	 outline: 0.02rem solid #453e4c;
 }
 
 
 
/* CONTENT WITH IMAGE. */
 
 .container-content {
	 background: black;
	
	 margin-top: 40px;
	 display: flex;
	 justify-content: space-between;
 }
 
 .container-content .content {
	 margin:auto;
	 width: 30%;
 }

 .container-content .content .title {
	 color: black;
	 font-size: 23px;
	 background: #fff;
	 width: 60%;
	 text-align: center;
	 padding: 8px 0;
 }
 
  .container-content .content .text {
	  color: white;
	  width: 70%;
	  padding: 8px 8px;
	  background: #444;
	  font-size: 15px; 
	  font-weight: 100; 
	  letter-spacing: 0.5px;
  }
 
  .container-content .content .line {
  	 width: 80%;
  }
  
  .container-content .content .another {
	  width:90%;
  }
 
 
 
 
 
 
 