* {
	box-sizing: border-box;
}

html {
	 font-size: 62.5%; 
 }
 

 body {
 	padding: 0;
 	font-family: 'Open Sans', sans-serif;
 }
 
/*   NAVIGATION BAR   */
 
 section .name-top {
	 display: flex;
	 justify-content: center;
	 padding-top: 2rem;
 }
 
 .name-top  h1 {
   font-family: 'Monsieur La Doulaise', cursive;
   font-size: 4rem;
 }

 .navbar-sticky {
	z-index: 100;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	background: #fff;
 }

 .navbar-sticky a {
 	text-decoration: none;
	padding: 2rem;
	font-size: 1.5rem;
	color: black;
	font-weight: bold;

 }
 
/*    NAVIGATION BAR HOVER.  */
 
 .navbar-sticky a:hover{
	 color: rgb(230, 163, 163);
	 outline: 0.02rem solid #453e4c;
 }
 
/* CONTENT WITH IMAGE. */
 
 .container-content {
	 margin-top: 170px;
	 display: flex;
	 justify-content: space-between;
	 background: rgb(8, 1, 1);
	 z-index:10;
	 position: relative;
 }
 .wave-top  {
	top: 176px;
	z-index: 1;
	position: absolute;

}
  .content {
	 margin:auto;
	 width: 30%;
 }

  .title {
	 color: black;
	 font-size: 23px;
	 background: white;
	 width: 60%;
	 text-align: center;
	 padding: 8px 0;
 }
 
 .text {
	  color: white;
	  width: 70%;
	  font-size: 15px; 
	  font-weight: 100; 
	  letter-spacing: 0.5px;
  }
  
  .line {
  	 width: 80%;
  }

  button {
   	width: 20%;
   	background: transparent;
   	border: 0.2rem solid #fff;
   	padding: 12px 0;
   	cursor: pointer;
	text-decoration: none;
	color: rgb(247, 241, 241);
	font-size: 12px;
	margin-top: 8px;
	font-weight: bold;
   }
/*   BUTTON HOVER */
    button:hover {
		  background:  rgb(255, 255, 255);
		  color: rgb(194, 68, 68);
		  font-weight: bold;
	  }
/*	  THREE BOXEX FLEXED */ 
	  .container-flex {
		  z-index: 2;
		  display: flex;
		  justify-content: center;
	  }
	  
	   .col {
		 width: 30%;
		 margin-top: -140px;
		 text-align: center;
		 font-size: 16px;
	  }
	  
	   .col img{
		  height: 70%;
		  width: 80%;
	  }
/*  FOOTER  */
  footer {
	  background: rgb(14, 6, 6);
	  height: 100px;
	  margin-bottom: 40px;
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
	  font-size: 13px;
	  color: #fff;
	  font-weight: 600;
  }

  .social-media a { 
	color:#fff;
	font-size: 25px;
  }
	.icon {
		  margin-right: 50px;
		  padding: 9px;
	  }
	  
	.icon:hover {
		color: rgb(230, 163, 163);
		outline: 0.02rem solid #453e4c;
	}
	  